html{
  background-image: url('../src/assets/fondo2.jpg') ;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}